@model List<Clientes>
@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Listar Cliente
    </div>
    <div class="card-body">

        <a asp-action="Crear" asp-controller="Clientes" class="btn btn-success"><i class="bi bi-person-fill-add"></i> Crear Nuevo</a>
        <hr />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>DPI</th>
                    <th>NIT</th>
                    <th>Telefono</th>
                    <th>Direccion</th>
                    <th>Correo</th>

                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@(item.nombre_cliente)</td>
                            <td>@(item.apellido_cliente)</td>
                            <td>@(item.dpi_cliente)</td>
                            <td>@(item.nit_cliente)</td>
                            <td>@(item.telefono_cliente)</td>
                            <td>@(item.direccion_cliente)</td>
                            <td>@(item.correo_cliente)</td>

                            <td>
                                <a asp-action="Editar" asp-controller="Clientes" class="btn btn-warning btn-sm" asp-route-idCliente="@item.id_cliente"><i class="bi bi-pencil-square"></i> Editar</a>
                                <a asp-action="Eliminar" asp-controller="Clientes" class="btn btn-danger btn-sm" asp-route-idCliente="@item.id_cliente"><i class="bi bi-trash"></i> Eliminar</a>
                            </td>
                        </tr>

                    }
                }
            </tbody>

        </table>

    </div>
</div>
