@model List<Existencias>
@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-header">
        Existencia de Productos aptos para venta
    </div>
    <div class="card-body">

        <a asp-action="Crear" asp-controller="Ingresos" class="btn btn-success"><i class="bi bi-person-fill-add"></i> Ingresar Productos a Inventario</a>
        <hr />
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th># Prod.</th>
                    <th>Producto</th>
                    <th>Descripcion</th>
                    <th>Existencia</th>
                    <th>Precio U.</th>
                    <th>Categoria</th>
                    <th>Proveedor</th>
                    <th>Fecha Actualizacion</th>

                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@(item.producto_id)</td>
                            <td>@(item.nombre_producto)</td>
                            <td>@(item.descripcion_producto)</td>
                            <td>@(item.cantidad_existencia)</td>
                            <td>Q. @(item.precio_unidad)</td>
                            <td>@(item.nombre_categoria)</td>
                            <td>@(item.nombre_proveedor)</td>
                            <td>@(item.FechaUltimaActualizacion)</td>

                            @*                             <td>
                    <a asp-action="Editar" asp-controller="Productos" class="btn btn-warning btn-sm" asp-route-idProducto="@item.id_producto"><i class="bi bi-pencil-square"></i> Editar</a>
                    </td>
                    <td>
                    <a asp-action="Eliminar" asp-controller="Productos" class="btn btn-danger btn-sm" asp-route-idProducto="@item.id_producto"><i class="bi bi-trash"></i> Eliminar</a>
                    </td> *@
                        </tr>

                    }
                }
            </tbody>

        </table>

    </div>
</div>