@model List<Productos>
@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-header">
        Listar Productos
    </div>
    <div class="card-body">

        <a asp-action="Crear" asp-controller="Productos" class="btn btn-success"><i class="bi bi-person-fill-add"></i> Crear Nuevo</a>
        <hr />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Marca</th>
                    <th>Descripcion</th>
                    <th>Estatus</th>
                    <th>Categoria</th>
                    <th>Proveedor</th>
                    <th>Acciones</th>

                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@(item.id_producto)</td>
                            <td>@(item.nombre_producto)</td>
                            <td>@(item.marca_producto)</td>
                            <td>@(item.descripcion_producto)</td>
                            <td>@(item.estatus_producto)</td>
                            <td>@(item.nombre_categoria)</td>
                            <td>@(item.nombre_proveedor)</td>

                            <td>
                                <a asp-action="Editar" asp-controller="Productos" class="btn btn-warning btn-sm" asp-route-idProducto="@item.id_producto"><i class="bi bi-pencil-square"></i> Editar</a>
                            </td>
                            <td>
                                <a asp-action="Eliminar" asp-controller="Productos" class="btn btn-danger btn-sm" asp-route-idProducto="@item.id_producto"><i class="bi bi-trash"></i> Eliminar</a>
                            </td>
                        </tr>

                    }
                }
            </tbody>

        </table>

    </div>
</div>
