@model List<Caja>
@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Aperturas de Caja
    </div>
    <div class="card-body">

        <a asp-action="Crear" asp-controller="Ingresos" class="btn btn-success"><i class="bi bi-person-fill-add"></i> Aperturara de Caja</a>

        <hr />
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th># Apertura.</th>
                    <th>Fondo Inicial</th>
                    <th>Fecha de apertura</th>
                    <th>Fecha de Cierre</th>
                    <th>Estado de caja</th>
                    <th>usuario que aperturo</th>

                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@(item.id_caja)</td>
                            <td>Q. @(item.MontoInicial)</td>
                            <td>@(item.fecha_apertura)</td>
                            <td>@(item.fecha_cierre == null ? "Caja abierta" : item.fecha_cierre.ToString())</td>
                            <td>@(item.estado_caja)</td>
                            <td>@(item.correoUsr)</td>
                        </tr>

                    }
                }
            </tbody>

        </table>

    </div>
</div>

<!-- Modal Trigger -->
<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>

